body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: url("../images/fundo.jpg") no-repeat center center fixed;
    background-size: cover;
    color: #222;
}

.titulo h1 {
    font-family: 'Crafty Girls', cursive;
    font-size: 5em;
    text-align: center;
    color: white;
    margin-top: 30px;
}

h2{
    color: white;
}

.bloco-lista {
    background-color: #3ef1ec;
    max-width: 700px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
    text-align: left;
}

.bloco-lista h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

.creche-item {
    padding: 8px 0 8px 0;  /* aumenta o espaço abaixo do conteúdo */
    border-bottom: 2px dotted black;
    margin-bottom: 0px;
    gap: 1px;
}


/* nova div para alinhar à direita */
.matricula-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 0px;
}

.btn-matricula {
    background-color: white;
    color: #000;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 8px 8px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-bottom: 20px;
    margin-top: 0px;
    gap: 0px;
}

.btn-matricula:hover {
    background-color: #000;
    color: #fff;
}

.sem-vagas {
    text-align: center;
    padding: 40px 20px;
    font-weight: bold;
    color: #880000;
    background-color: #fff5f5;
    border-radius: 15px;
    margin-top: 30px;
}


.botoes-rodape {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    font-size: 0.9em;
}

.navegacao-paginacao {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    font-size: 0.95em;
}


.voltar {
    text-decoration: none;
    color: black;
    font-weight: bold;
    gap: 10px;
    margin-top: 20px;
    font-size: 0.95em;
}

.footer {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 1em;
    font-weight: bold;
    color: #eee;
}
