<!--<h2>Selecione a Região Administrativa</h2>
<form method="get" action="{% url 'lista_creches' %}">
    <select name="ra" required>
        {% for ra in regioes %}
        <option value="{{ ra.id }}">{{ ra.nome }}</option>
        {% endfor %}
    </select>
    <button type="submit">Buscar Creches</button>
</form>--> 

{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Matrícula Fácil – DF</title>

    <!-- Bootstrap primeiro -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Seu CSS depois -->
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">

    <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap" rel="stylesheet">

</head>
<body>
    <header class="titulo-pagina">
        <h1>Matrícula Fácil – DF</h1>
    </header>

    <main class="overlay">
        <h2>Bem-vindo ao Matrícula Fácil – DF</h2>
        <p>
            Este sistema foi criado para facilitar a matrícula de crianças em creches públicas do Distrito Federal.
            Aqui, você pode consultar as vagas disponíveis na sua Região Administrativa e, se houver oportunidade,
            fazer a matrícula online de forma rápida e prática.
        </p>
        <form method="get" action="{% url 'lista_creches' %}">
            <div class="form-group minha-form-group">
                <label for="ra">Região Administrativa:</label>
                <select name="ra" id="ra" class="meu-select" required>
                    <option value="">-- Selecione --</option>
                    {% for ra in regioes %}
                        <option value="{{ ra.id }}">{{ ra.nome }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary meu-botao">Buscar</button>
        </form>
    </main>

    <footer class="footer">
        Secretaria de Estado de Educação do Distrito Federal – SEEDF
    </footer>
</body>
</html>
