{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matrícula Fácil – DF</title>   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Crafty+Girls&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png">
</head>

<body>
    <header class="titulo-pagina">
        <h1>Matrícula Fácil – DF</h1>
    </header>

    <main class="overlay">
        <h2>Bem-vindo ao Matrícula Fácil – DF</h2>
        <br>
        <p>
            Este sistema foi criado para facilitar a matrícula de crianças em creches públicas do Distrito Federal. Aqui, você pode consultar as vagas disponíveis na sua Região Administrativa e, se houver oportunidade, fazer a matrícula online de forma rápida e prática. 
            Para começar, selecione a Região Administrativa desejada e veja quais creches têm vagas. 
            <br>
            Caso encontre uma vaga adequada, basta preencher o formulário de matrícula diretamente pelo sistema, sem necessidade de deslocamento.
            <br>
            <br>
            Se já realizou a matrícula do seu filho, poderá acompanhar o status da matrícula no link abaixo "Acompanhar Matrícula".
        </p>
        <form method="get" action="{% url 'lista_creches' %}">
            <div class="form-group minha-form-group">
                <label for="ra" style="font-weight: bold;">Região Administrativa:</label>
                <select name="ra" id="ra" class="meu-select" required>
                    <option value="">Selecione</option>
                    {% for ra in regioes %}
                        <option value="{{ ra.id }}">{{ ra.nome }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn meu-botao">Buscar</button>
            <br>
            <a href="{% url 'acompanhamento' %}" class="btn btn-info mt-3">📄 Acompanhar Matrícula</a>
            <br>
        </form>
    </main>

    <footer class="footer">
        Secretaria de Estado de Educação do Distrito Federal – SEEDF
    </footer>
</body>
</html>
